<section id="blog-hero">
  <div class="blog-hero-wrap">
    <div class="blog-hero doddles">
      <img src="assets/images/DODDLES-RELOAD.svg" alt="Amanda Escalona | Doddles" class="min">
      <img src="assets/images/DODDLES-RELOAD.svg" alt="Amanda Escalona | Doddles" class="super">
    </div>
    <div class="color"></div>
    <div class="blog-hero gradient"></div>
  </div>
  </div>
</section>

<section id="blog-header">
  <a href="{{ site.baseurl | default: '' }}/blog">
    <h2>amanda</h2>
    <h2>blog</h2>
  </a>




</section>