<section id="corner" class="pallarax-wrap">
    <div class="corner doddles">
      <img src="assets/images/DODDLES-RELOAD.svg" alt="Amanda Escalona | Doddles" class="super">
    </div>
    <div class="color"></div>
    <div class="corner gradient"></div>
  
</section>

<section id="hero">
  <div class="row" id="intro">
    <div class="col-4" id="hello">
      <h1>Amanda</h1>
      <h1>Escalona</h1>
      <h2>Escritora</h2>
      <h2>creativa</h2> 
     <!--  Esto debería refererenciar a el portafolio. Pendiente 1 -->
      <a href="{{ site.baseurl | default: '' }}/blog" class="btn-cta">¡Visita mi blog!</a>
    </div>
    <div class="col-4">
      <img src="assets/images/ae-update.png" alt="Amanda Escalona | Escritora" id="amanda-intro">
    </div>

  </div>
</section>